# Environnement virtuel Python
.venv/
venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Données et exports
data/
exports/

# Rapports Flake8
flake8_report/

# Fichiers IDEs et OS
.vscode/
.DS_Store
*.swp